.card {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 25px 20px;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

.card__button {
  border: none;
  background-color: #fff;
  padding: 0;
}

.card__heart-image {
  width: 21px;
  height: 18px;
  transition: opacity 0.5s ease-in-out;
  padding: 7px 0 4px 2px;
}

.card__heart-image:hover {
  opacity: 50%;
  cursor: pointer;
}
