.gallery {
  margin: 0;
}

.gallery__cards {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
}

@media screen and (max-width: 635px) {
  .gallery {
    margin: 0 20px 0;
  }
}
