.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal__container {
  position: fixed;
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px;
  z-index: 2;
  filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.15));
}

.modal__close {
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 80%;
  transform: rotate(-45deg);
}

.modal__title {
  color: #000;
  font-weight: 900;
  max-width: 330px;
  font-size: 24px;
  line-height: 1.21;
  margin: 0 0 54px;
  padding: 0;
}

.modal__form {
}

.modal__fieldset {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  margin: 0;
  margin-bottom: 29.75px;
  border: none;
  padding: 0;
  margin: 0 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.modal__fieldset:last-child {
  margin: 0;
}

.modal__label {
}

.modal__input {
  border: none;
  width: 100%;
  padding: 0 0 13.26px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal__button {
  margin: 48px 0 0;
  width: 100%;
  border: none;
  background-color: #000;
  color: white;
  height: 50.15px;
  padding: 0;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 80%;
}
