.page {
  background-color: #000;
  color: #fff;
}

.page__content {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  min-width: 320px;
  max-width: 880px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.2;
}
