.profile {
  display: flex;
  margin: 40px 0 51px;
  align-items: center;
}

.profile__avatar {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  margin: 0 0 0 30px;
  align-items: center;
  min-width: 415px;
  transition: min-width 0.75s ease;
}

.profile__title {
  grid-area: title;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
  transition: font-size 0.75s ease;
}

.profile__button {
  grid-area: button;
  box-sizing: border-box;
  background-color: #000;
  border: 1.5px solid #fff;
  margin: 0 0 0 10px;
  padding: 0;
  transition: opacity 0.75s ease-in-out;
}

.profile__button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__button-position {
  margin-left: auto;
  transition: opacity 1s ease-in;
}

.profile__button-position:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__button_type_edit {
  width: 24px;
  height: 24px;
  justify-self: end;
}

.profile__image_type_edit {
  width: 10px;
  height: 10px;
}

.profile__button_type_add {
  height: 50px;
  width: 150px;
  transition: width 0.5s ease;
}

.profile__image_type_add {
  width: 22px;
  height: 22px;
}

.profile__description {
  grid-area: description;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin: 7px 0 0;
}

@media screen and (max-width: 790px) {
  .profile__info {
    min-width: 282px;
  }

  .profile__title {
    font-size: 32px;
    line-height: 1.21;
  }

  .profile__button_type_add {
    width: 50px;
  }
}

@media screen and (max-width: 635px) {
  .profile {
    flex-direction: column;
    margin: 40px 0 36px;
  }

  .profile__avatar {
    width: 120px;
    height: 120px;
    margin: 0 0 30px;
  }

  .profile__info {
    justify-items: center;
    margin: 0;
  }

  .profile__title {
    font-size: 22px;
    justify-self: end;
    margin: 0;
  }

  .profile__button-position {
    margin: 0;
  }

  .profile__button_type_edit {
    width: 18px;
    height: 18px;
    justify-self: start;
  }

  .profile__image_type_edit {
    width: 7.5px;
    height: 7.5px;
    padding: 2.5px;
  }

  .profile__button_type_add {
    width: 282px;
    margin: 0;
  }

  .profile__description {
    margin: 14px 0 36px;
  }
}
