.profile {
  display: flex;
  margin: 40px 0 51px;
  align-items: center;
  flex-wrap: wrap;
}

.profile__avatar {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  margin: 0 0 0 30px;
  align-items: center;
  min-width: 415px;
}

.profile__title {
  grid-area: title;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0 0 7px;
}

.profile__button {
  grid-area: button;
  background-color: #000;
  border: none;
  padding: 0;
}

.profile__button_type_edit {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  justify-self: end;
  transition: opacity 0.65s ease-in-out;
}

.profile__button_type_edit:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__description {
  grid-area: description;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
}

.profile__button_type_add {
  height: 50px;
  margin-left: auto;
  transition: opacity 0.75s ease-in-out;
}

.profile__button_type_add:hover {
  opacity: 60%;
  cursor: pointer;
}
